<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>BookMinder - Alpha</title>
</head>

<body>
    <div>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" style="font-size: 1.5rem;" href="/home">
               <img src="https://play-lh.googleusercontent.com/t5OlleFEJuJ82Q9rIG479b5NUCGxl8DDn6h2Vqw8iBRYTOR9TbZtPrQpLVCO-MoW794"
                    width="35" height="35" class="d-inline-block align-center">
                BookMinder
            </a>
            <div>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse container" id="navbarSupportedContent">
                        <div class="navbar-nav row container">

                            <div class="nav-item col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" style="background-color: transparent;"
                                        type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Livros
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a href="/gridlivros" class="dropdown-item" href="#">Cadastro de Livros</a>
                                        <a href="/gridlivros" class="dropdown-item" href="#">Cadastro de Autores</a>
                                    </div>
                                </div>
                            </div>

                            <div class="nav-item col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <a href="/locacao" class="nav-link" href="#">Locações</a>
                            </div>
                            <div class="nav-item col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <a href="/pessoas" class="nav-link" href="#">Pessoas</a>
                            </div>
                            <div class="nav-item col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <a href="/usuarios" class="nav-link" href="#">Usuários</a>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
</body>

</html>