<h1>Autor</h1>
<div>
    <select  class="form-control">
        <select>Nome</select>
        <select>Origem</select>
        <select>Data Nascimento</select>
        <select>Destaque</select>

    </select>
</div>