<style>
    tr {
        cursor: pointer;
    }
</style>

<h2 class="m-3 ">Autores</h2>
<div class="container">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Origem</th>
                <th scope="col">Data Nascimento</th>

            </tr>
        </thead>
        <tbody>

            {{#each autores}}

         
            <tr>

                <td>{{dataValues.nome}}</td>
                <td>{{dataValues.origem}}</td>
                <td>{{dataValues.dataNascimento}}</td>
                <td type="button" class="btn btn-danger ">Excluir</td>
                
            </tr>

     {{/each}}
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        
        <a href="/livro" type="button" class="btn btn-primary m-1">Voltar</a>

    </div>

</div>
<script>