<div class="d-flex justify-content-end">
    <a href="/livro" type="button" class="btn btn-success mt-4 mr-2">Novo</a>
</div>
<div>
    <h2 class="mb-3">Cadastro de Livros</h2>
</div>

<div class="container">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Título</th>
                <th scope="col">Categoria   </th>
            </tr>
        </thead>
        <tbody>
                {{#each livros}}
            <tr>
                <td> {{dataValues.id}}</td>
                <td>{{dataValues.titulo}}</td>
                <td>{{dataValues.categoria}}</td>
                <td><button onclick="" class="btn btn-danger">Excluir</button></td>
            </tr>
                {{/each}}
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <a href="/home" type="button" class="btn btn-secondary mt-2">Voltar</a>
    </div>
</div>