<div style="margin-top: 2rem;">
  <form>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputTitulo">Título</label>
        <input type="text" class="form-control" id="inputTitulo" placeholder="Título">
      </div>
      <div class="form-group col-md-12">
        <label for="inputEditora">Editora</label>
        <input type="text" class="form-control" id="inputEditora" placeholder="Editora">
      </div>
      <div class="form-group col-md-12">
        <label for="inputCategoria">Categoria</label>
        <input type="text" class="form-control" id="inputCategoria" placeholder="Categoria">
      </div>
      <div class="form-group col-md-9">
        <label for="inputAutor">Autor</label>
        <input type="text" class="form-control" id="inputAutor" placeholder="Autor">
      </div>
      <div class="form-group col-md-3">
        <label for="inputQtdAutores">Quantidade de Autores</label>
        <select id="inputQtdAutores" class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputDataLancamento">Data de Lançamento</label>
        <input type="number" class="form-control" id="inputDataLancamento" placeholder="Data de Lançamento">
      </div>
      <div class="form-group col-md-4">
        <label for="inputQtdPaginas">Páginas</label>
        <input type="number" class="form-control" id="inputQtdPaginas" placeholder="Páginas">
      </div>
      <div class="form-group col-md-4">
        <label for="inputClassificacao">Classificação</label>
        <input type="number" class="form-control" id="inputClassificacao" placeholder="Classificação">
      </div>
      <button type="submit" class="btn btn-primary col-md-12">Cadastrar</button>
    </div>
</div>
</form>