        
<!-- Locações: funcões
-Cadastrar/realizar novas locações de livros modal
-Criar uma telinha separada para exibir ao usuário o seu próprio histórico de locações grid
-Tabela de armazenamento

novas coisas para fazer:

1
-entrar em um consenso para o valor da locação de um livro (10 reais por exemplo), 
vai funcionar conforme a quantidade de livros. Multiplicar a quantidade que for colocada

2
-fazer um check list do modal quando for selecionar os livros locados

3 - GERAL DE TUDO QUE AINDA PRECISA SER FEITO 

-colocar os livros por ID (talvez) dentro do formulário do modal (que puxe todos os livros que estão cadastrados)
-colocar um check-box ao lado de cada um pra selecionar quantos livros serão locados
-fazer o botão de finalizar enviar as informações para o banco de dados
-fazer dentro do modal ainda, uma rotina que multiplique em valor a quantidade de livros selecionados (definir um valor ainda para locação-)
-criar um button ao lado do totalizador que é pra finalizar a locação mesmo
-criar um texto de apresentação que vai ficar no HOME, falando sobre o projeto
  
  GERAL PROJETO

  -criar um css body padrão para todos os arquivos
  -deixar mais responsivo
  -
    -->
<br>
<div class="container">
    <div class="row">
        <div class="">
            <h4>Locação de livros</h4>
        </div>

    </div>
</div>

<br>

<form class="needs-validation" style="align-items: center;">
    <div class="form-row">
        <div class="col-md-4 mb-3" style="">
            <label for="validationTooltip01">Locatário</label>
            <input type="text" class="form-control" id="validationTooltip01">
            <div class="valid-tooltip">
                Preenchido
            </div>

            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="data">Data de retirada</label>
                    <input type="date" class="form-control" id="validationTooltip01">
                    <div class="valid-tooltip">
                        Preenchido
                    </div>


                </div>
                <div class-data=""="col-md-4 mb-3">
                    <label for="data">Data de devolução</label>
                    <input type="date" class="form-control" id="validationTooltip02">
                    <div class="valid-tooltip">
                        Preenchido
                    </div>
                </div>
                

                <div class="col-md-4 mb-3" style="float: right;">
                    <label for="validationTooltipUsername">Totalizador</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        </div>
                        <input type="number" class="form-control" id="validationTooltipUsername">
                        <div class="invalid-tooltip">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="validationTooltipUsername">Data de devolução prevista</label>
            <div class="input-group">
                <div class="input-group-prepend">
                </div>
                <input type="date" class="form-control" id="validationTooltipUsername">
                <div class="invalid-tooltip">
                </div>
            </div>
        </div>
    </div>



    <a id="add-use-button" type="button" class="btn btn-success  mr-2">Adicionar livro</a>
    <button class="btn btn-primary" type="submit" >Ver histórico de locação</button>


  <div id="add-close-modal" class="modal"

 class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Livros disponíveis</h5>
                </button>
            </div>
            <div class="modal-body">
                <p>Texto do corpo do modal, é aqui</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-button" data-dismiss="modal" >Fechar </button>
                <button type="button" class="btn btn-primary">Pronto</button>
            </div>
        </div>
    </div>
</div>
   

    



    <script src="/models/modal.js"></script>
    